.job-details-card-container {
  background-color: black;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: white;
  font-family: 'Roboto';
  font-weight: 400;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.job-details-card-main-container {
  background-color: #272727;
  border-radius: 10px;
  margin: 60px;
}
.job-details-sub-container {
  margin: 30px;
}
.job-details-logo-container {
  display: flex;
}
.separator {
  color: #272727;
}
.job-details-description-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.job-details-description-heading {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 5px;
}
.external-link {
  color: #6366f1;
  text-decoration: none;
  font-size: 22px;
  display: flex;
  align-items: center;
}
.visit-text {
  margin-right: 5px;
}
.job-details-description {
  width: 90%;
  font-size: 24px;
  margin-bottom: 60px;
}
.skills-container {
  display: flex;
  list-style-type: none;
  padding-left: 0px;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1200px;
}
.skills-sub-container {
  display: flex;
  align-content: center;
  width: 350px;
  margin-bottom: 50px;
  margin-top: 10px;
}
.skills-image {
  margin-right: 10px;
  width: 60px;
  height: 60px;
}
.skill-name {
  font-weight: 500;
  font-size: 20px;
}
.life-at-company-container {
  display: flex;
  flex-direction: column;
}
.life-at-company-sub-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.life-at-company-description {
  font-size: 24px;
  width: 1200px;
  line-height: 1.5;
}
.life-at-company-heading {
  margin-bottom: 0px;
}
.life-at-company-image {
  width: 600px;
  border-radius: 3px;
}
.similar-job-text {
  margin-left: 60px;
  margin-top: 30px;
}
.similar-job-main-container {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.job-failure-view-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.loader-container3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

@media screen and (max-width: 768px) {
  .job-details {
    margin: 0px;
  }
  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .job-details-card-main-container {
    margin: 20px;
    margin-top: 34px;
  }
  .job-details-container {
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
  }
  .package {
    font-size: 18px;
  }
  .job-title-container {
    margin-left: 8px;
  }
  .job-title {
    margin-bottom: 0px;
  }
  .job-rating-container {
    margin-top: 0px;
  }
  .loc-type-container {
    margin-left: 0px;
    padding-left: 0px;
  }
  .job-details-sub-container {
    margin: 15px;
  }
  .job-details-logo-container {
    display: flex;
  }
  .separator {
    color: #272727;
  }
  .job-details-description-container {
    margin-top: 20px;
  }
  .job-details-description-heading {
    font-size: 22px;
  }
  .external-link {
    color: #6366f1;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: center;
  }
  .visit-text {
    margin-right: 5px;
    font-size: 19px;
  }
  .job-details-description {
    width: 100%;
    font-size: 17px;
    margin-bottom: 25px;
  }
  .skills-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 300px;
    display: flex;
  }
  .skills-heading {
    font-size: 22px;
  }
  .skills-sub-container {
    display: flex;
    align-items: center;
    width: 140px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .skills-image {
    margin-right: 6px;
    width: 35px;
    height: 35px;
  }
  .skill-name {
    font-weight: 500;
    font-size: 15px;
  }
  .life-at-company-container {
    margin-top: 20px;
  }
  .life-at-company-sub-container {
    flex-direction: column;
  }

  .life-at-company-description {
    font-size: 17px;
    min-width: 250px;
    max-width: 300px;
    line-height: 1.5;
  }
  .life-at-company-heading {
    margin-bottom: 0px;
    font-size: 22px;
  }
  .life-at-company-image {
    min-width: 250px;
    max-width: 300px;
    border-radius: 3px;
  }
  .similar-job-text {
    margin-left: 20px;
    margin-top: 20px;
  }
  .similar-job-main-container {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 0px;
  }
  .job-failure-view-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  .job-details-failure-heading {
    font-size: 21px;
    margin-bottom: 0px;
  }
  .job-details-failure-description {
    font-size: 18px;
    width: 290px;
  }
  .retry-button {
    background-color: #4f46e5;
  }
  .loader-container3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
}